<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piglet"
    android:versionCode="3"
    android:versionName="0.0.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.MysqlCliApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.piglet.ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.piglet.ui.AddConnectionActivity" >
        </activity>
        <activity android:name="com.piglet.ui.EditConnectionActivity" >
        </activity>
        <activity android:name="com.piglet.ui.DbActivity" >
        </activity>
        <activity android:name="com.piglet.ui.TbActivity" >
        </activity>
        <activity android:name="com.piglet.ui.PropActivity" >
        </activity>
        <activity android:name="com.piglet.ui.DataActivity" >
        </activity>
        <activity android:name="com.piglet.ui.AboutActivity" />
        <activity
            android:name="com.piglet.ui.CmdActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- umeng -->
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53b7b2fb56240b1d34007bc0" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Portal" >
        </meta-data>
    </application>

</manifest>